<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile</title>
  </head>
  <body>
    <%- include('common/header'); %>
    <h1>Welcome <%= user.name %></h1>
    <h1>from <%= user.city %></h1>
    <h2>skills</h2>
    <% user.skills.forEach((item) => { %>
    <li><%= item %></li>
    <% }) %>
  </body>
</html>
